/* Bulma documentation available at: https://bulma.io/documentation */
@import "https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css";

canvas {
  max-width: 100%;
}

.workCanvas {
  display: none;
}

.columns.is-multiline > .column > strong {
  display: block;
}

/* .is-fullwidth doesn't seem to work on mobile */
.fullwidth {
  width: 100%;
}

/* On small devices, the images were sometimes overflowing the screen */
img, canvas {
  max-width: 100%;
}